@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-image: url("/img/bg.png");
  background-repeat: repeat center center fixed;
  background-color: #ffffff;
  color: #554a41;
  font-family: "Nunito";
  font-size: 16px;
}

#header {
  height: 157px;
  background-image: url("/img/header.png");
  background-size: cover;
  background-color: #a3e7e4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  font-family: "Nunito";
  font-size: 48px;
  color: #3e240e;
}

a {
  color: #13928c;
}

a:hover {
  background-color: #8eccc9;
  color: white;
  text-decoration: none;
}

#navbar {
  background-color: #fae2a5;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.navlink {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  margin: 5px;
  font-weight: bold;
  color: #3e240e;
  text-decoration: none;
}

.navlink:hover {
  background-color: #fae2a5;
  color: #3e240e;
  text-decoration: none;
}

p {
  padding-bottom: 20px;
}

h1 {
  font-size: 36px;
  color: #ffa5b6;
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 30px;
  padding-bottom: 0;
  color: #ff8199;
  font-weight: normal;
  margin-bottom: 8px;
}

h3 {
  font-size: 20px;
  color: #779a7e;
  margin: 5px 0 3px 0;
}

h4 {
  font-size: 20px;
  color: #ff8199;
  margin: 5px 0 3px 0;
}

img {
  max-width: 930px;
}

#page-container {
  width: 100%;
  background-color: WHITE;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  box-shadow: 0px 0px 19px 3px rgba(166, 138, 138, 0.67);
  width: 990px;
}

#content-container {
  padding: 30px;
  padding-bottom: 50px;
}

#footer {
  background-image: url("/img/footer.png");
  height: 103px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
}
#footer-container {
  background-color: #fae2a5;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.block {
  display: block;
}

.bullet-list {
  padding-left: 30px;
  padding-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-links {
  height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-links > *:not(:last-child) {
  margin-right: 16px;
}

.footer-links a:hover {
  background-color: transparent;
}

.footer-icon-pp {
  height: 40px;
  width: 183px;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.2));
}

.footer-icon {
  height: 40px;
  width: 40px;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.2));
}

.aligncenter {
  text-align: center;
}

.toc {
  background-color: #fff;
  border: 1px solid #a3e7e4;
  border-left: 8px solid #a3e7e4;
  padding: 15px 0 15px 20px;
  margin: 5px 0 15px 24px;
  font-size: 14px;
  width: 450px;
}

.toggle-container {
  background-color: #fff;
  border: 1px solid #ff8199;
  border-left: 8px solid #ff8199;
  padding: 5px 0 10px 20px;
  margin: 5px 0 15px 24px;
  max-width: 850px;
}

.blockquote {
  background-color: #fff;
  border-left: 5px solid #ffa5b6;
  padding: 5px 0 10px 20px;
  margin: 5px 0 15px 24px;
}

.layouts-container {
  background-color: #fff;
  border: 1px solid #b2dbd9;
  border-left: 8px solid #b2dbd9;
  padding: 5px 10px 10px 20px;
  margin: 5px 0 0 24px;
  max-width: auto;
}

.button {
  background-color: #75c360;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #eeaa3a;
}

.button-gr {
  background-color: #b7b7b7;
  border: none;
  color: white;
  padding: 6px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  transition-duration: 0.4s;
}
.button-gr:hover {
  background-color: #ffa5b6;
}

td,
th {
  height: 1rem;
}
th {
  text-align: right;
  padding: 1px 7px 0 0;
  width: 120px;
  background: #ffaaba;
  color: white;
  font-weight: normal;
  border-bottom: 1px solid #ffffff;
  vertical-align: top;
}
td {
  padding: 0 0 0 7px;
  vertical-align: top;
  border-bottom: 1px solid #dbe0e0;
}

td.nb {
  border-bottom: none;
}

.accordion {
  background-color: #daeeed;
  color: #554a41;
  font-family: "Nunito";
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #b2dbd9;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.leif {
  display: in-line;
  position: absolute;
  height: 31px;
  margin-top: -6px;
}

.leif-indent {
  display: in-line;
  margin: 0 0 0 36px;
}

.fc-button {
  background-color: #ffa5b6;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 462px;
  outline: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.fc-button-active {
  background-color: #f2798f;
}

.fc-button:hover {
  background-color: #8eccc9;
}

.brspeed-button {
  background-color: #bbbbbb;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 431px;
  outline: none;
  transition-duration: 0.4s;
  cursor: pointer;
  display: in-line;
}

.brspeed-button-active {
  background-color: #ffa5b6;
}

.brspeed-button:hover {
  background-color: #8eccc9;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  display: inline-block;
}

.img-preview {
  max-width: 300px;
  cursor: pointer;
}

.img-modal {
  max-width: 100vh;
  max-height: 80vh;
}